table{
    border-style: dotted;
    margin-left: 35%;
    margin-top: 5%;
}

#td1{
    background-color: violet;
    padding :30px;
}
#td2{
    background-color: indigo;
    padding :30px;
}
#td3{
    background-color: rgb(0, 213, 255);
    padding :30px;
}
#td4{
    background-color: green;
    padding :30px;
}
#td5{
    background-color: yellow;
    padding :30px;
}
#td6{
    background-color: orange;
    padding :30px;
}
#td7{
    background-color: red;
    padding :30px;
}